&lt;div id=&quot;TemplateSpinner&quot; ng-show=&quot;movie == null&quot;&gt; &lt;img src=&quot;/www/content/images/apps/movies/ajax-loader.gif&quot; /&gt; &lt;/div&gt;
&lt;div id=&quot;TemplateWrapper&quot; ng-show=&quot;movie!=null&quot;&gt;
  &lt;div id=&quot;Add-Edit-Movie&quot;&gt;
    &lt;div id=&quot;Movie-Page-Title&quot;&gt;
      &lt;h2&gt;{{ pageTitle }}&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class=&quot;movie-top-copy&quot;&gt;
      &lt;p ng-if=&quot;movie.id != null && movie.id !='0'&quot;&gt;The movie data won't be saved unless you click on the '{{ updateLabel }}' Button.&lt;/p&gt;
      &lt;p ng-if=&quot;movie.id == null || movie.id=='0'&quot;&gt;Click on the &lt;span class=&quot;add-label-text&quot;&gt;'{{ addLabel }}'&lt;/span&gt; Button, to add the movie to the list.&lt;br&gt;
        Click on the &lt;span class=&quot;reset-label-text&quot;&gt;'{{ resetLabel }}'&lt;/span&gt; Button, to reset all the movie data back to the default state.&lt;/p&gt;
    &lt;/div&gt;
    &lt;form name=&quot;AddEditMovieForm&quot; id=&quot;AddEditMovieForm&quot; novalidate&gt;
    &lt;div ng-init=&quot;setForm(AddEditMovieForm);&quot;&gt;&lt;/div&gt;
      &lt;div id=&quot;Add-Movie-Row-1&quot; class=&quot;row&quot;&gt;
        &lt;div id=&quot;Add-Movie-Col-1&quot; class=&quot;col-sm-6&quot;&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
              &lt;label for=&quot;title&quot;&gt;Title:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;title&quot; id=&quot;title&quot; placeholder=&quot;Title&quot; ng-model=&quot;movie.title&quot; required=&quot;&quot; /&gt;
              &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.title.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.title.$error.required&quot;&gt;Enter a Title.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
              &lt;label for=&quot;director&quot;&gt;Director:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;director&quot; id=&quot;director&quot; placeholder=&quot;Director&quot; ng-model=&quot;movie.director&quot; required /&gt;
              &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.director.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.director.$error.required&quot;&gt;Enter a Director.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
              &lt;label for=&quot;writer&quot;&gt;Writers:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;writers&quot; id=&quot;writers&quot; placeholder=&quot;Writers&quot; ng-model=&quot;movie.writers&quot; required /&gt;
              &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.writers.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.writers.$error.required&quot;&gt;Enter a Writer.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
              &lt;label for=&quot;actors&quot;&gt;Actors:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;actors&quot; id=&quot;actors&quot; placeholder=&quot;Actors separated by commas&quot; ng-model=&quot;movie.actors&quot; required /&gt;
              &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.actors.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.actors.$error.required&quot;&gt;Enter Actors.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
              &lt;label for=&quot;genre&quot;&gt;Genre:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;genre&quot; id=&quot;genre&quot; placeholder=&quot;Genres separated by commas&quot; ng-model=&quot;movie.genre&quot; required /&gt;
              &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.genre.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.genre.$error.required&quot;&gt;Enter a Genre.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
              &lt;label for=&quot;rated&quot;&gt;Rated:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
              &lt;select ng-model=&quot;movie.rated&quot; name=&quot;rated&quot; id=&quot;rated&quot;&gt;
                &lt;option value=&quot;G&quot;&gt;G&lt;/option&gt;
                &lt;option value=&quot;PG&quot;&gt;PG&lt;/option&gt;
                &lt;option value=&quot;PG-13&quot;&gt;PG-13&lt;/option&gt;
                &lt;option value=&quot;R&quot;&gt;R&lt;/option&gt;
              &lt;/select&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- /Add-Movie-Col-1 --&gt;
        &lt;div id=&quot;Add-Movie-Col-2&quot; class=&quot;col-sm-6&quot;&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-xs-4&quot;&gt;
              &lt;label for=&quot;runtime&quot;&gt;Run Time:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;runtime&quot; id=&quot;runtime&quot; placeholder=&quot;Run Time In Minutes&quot; ng-model=&quot;movie.runtime&quot; class=&quot;numeric-field&quot; required /&gt;
              &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.runtime.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.runtime.$error.required&quot;&gt;Enter Run Time.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-xs-4&quot;&gt;
              &lt;label for=&quot;released&quot;&gt;Release Date:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;released&quot; id=&quot;released&quot; placeholder=&quot;MM-DD-YYYY&quot; maxlength=&quot;10&quot; ng-model=&quot;previewMovieItem.DisplayReleaseDate&quot; class=&quot;masked-date&quot; required /&gt;
              &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.released.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.released.$error.required&quot;&gt;Enter Released Date.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-xs-4&quot;&gt;
              &lt;label for=&quot;year&quot;&gt;Year:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;year&quot; id=&quot;year&quot; placeholder=&quot;YYYY&quot; maxlength=&quot;4&quot; ng-model=&quot;movie.year&quot; class=&quot;masked-year&quot; /&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-xs-4&quot;&gt;
              &lt;label for=&quot;imdbRating&quot;&gt;Rating:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;imdbRating&quot; id=&quot;imdbRating&quot; placeholder=&quot;Rating&quot; ng-model=&quot;movie.imdbRating&quot; class=&quot;numeric-field&quot; /&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-row row&quot;&gt;
            &lt;div class=&quot;label-col col-xs-4&quot;&gt;
              &lt;label for=&quot;imdbVotes&quot;&gt;Votes:&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class=&quot;input-col col-xs-8&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;imdbVotes&quot; id=&quot;imdbVotes&quot; placeholder=&quot;# of Votes&quot; ng-model=&quot;movie.imdbVotes&quot; class=&quot;numeric-field&quot; /&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- /Add-Movie-Col-2 --&gt; 
      &lt;/div&gt;
      &lt;!-- /Add-Movie-Row-1 --&gt;
      &lt;div id=&quot;Add-Movie-Row-2&quot;&gt;
        &lt;div class=&quot;input-row row&quot;&gt;
          &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
            &lt;label for=&quot;imdbID&quot;&gt;IMDB ID:&lt;/label&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
            &lt;input type=&quot;text&quot; name=&quot;imdbID&quot; id=&quot;imdbID&quot; placeholder=&quot;IMDB ID&quot; ng-model=&quot;movie.imdbID&quot; /&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;input-row row&quot;&gt;
          &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
            &lt;label for=&quot;poster&quot;&gt;Poster:&lt;/label&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
            &lt;input type=&quot;text&quot; name=&quot;poster&quot; id=&quot;poster&quot; placeholder=&quot;Poster URL Location&quot; ng-model=&quot;movie.poster&quot; required /&gt;
            &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.poster.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.poster.$error.required&quot;&gt;Enter a Poster URL Location.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;input-row row&quot;&gt;
          &lt;div class=&quot;label-col col-sm-3 col-xs-4&quot;&gt;
            &lt;label for=&quot;plot&quot;&gt;Plot:&lt;/label&gt;
          &lt;/div&gt;
          &lt;div class=&quot;input-col col-sm-9 col-xs-8&quot;&gt;
            &lt;textarea name=&quot;plot&quot; id=&quot;plot&quot; ng-model=&quot;movie.plot&quot; required &gt;&lt;/textarea&gt;
            &lt;div class=&quot;check-input-field-container&quot; ng-show=&quot;AddEditMovieForm.$submitted || AddEditMovieForm.plot.$touched&quot;&gt;
                &lt;div class=&quot;error-msg&quot; ng-show=&quot;AddEditMovieForm.plot.$error.required&quot;&gt;Enter a Plot.&lt;/div&gt;
              &lt;/div&gt;&lt;!-- /check-input-field-container --&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- /Add-Movie-Row-2 --&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;button-container&quot; movie-id=&quot;{{movie.id}}&quot;&gt; &lt;span&gt;
          &lt;span class=&quot;btn btn-warning&quot; ng-click=&quot;resetMovie()&quot;&gt;Reset Movie&lt;/span&gt;&lt;!-- /btn --&gt;
          &lt;/span&gt; &lt;span&gt;
          &lt;a class=&quot;btn btn-info&quot; ng-click=&quot;previewMovie()&quot;&gt;Inline Edit&lt;/a&gt;
          &lt;/span&gt; &lt;span ng-if=&quot;movie.id == null || movie.id=='0'&quot;&gt;
          &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;addMovie()&quot;&gt;{{ addLabel }}&lt;/button&gt;
          &lt;/span&gt; &lt;span ng-if=&quot;movie.id != null && movie.id !='0'&quot;&gt;
          &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;updateMovie()&quot;&gt;{{ updateLabel }}&lt;/button&gt;
          &lt;/span&gt; &lt;/div&gt;
      &lt;/div&gt;
    &lt;/form&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /TemplateWrapper --&gt; 
&lt;dialog-container&gt;&lt;/dialog-container&gt;