&lt;div id=&quot;TemplateSpinner&quot; ng-show=&quot;previewMovieItem == null&quot;&gt; &lt;img src=&quot;/www/content/images/apps/movies/ajax-loader.gif&quot; /&gt; &lt;/div&gt;
&lt;div id=&quot;TemplateWrapper&quot; ng-show=&quot;previewMovieItem!=null&quot;&gt;
  &lt;form name=&quot;AddEditMovieForm&quot; id=&quot;AddEditMovieForm&quot; novalidate &gt;
    &lt;div ng-init=&quot;setForm(AddEditMovieForm);&quot;&gt;&lt;/div&gt;
    &lt;div id=&quot;Movie-Page-Title&quot;&gt;
      &lt;h2&gt;{{ pageTitle }}&lt;/h2&gt;
    &lt;/div&gt;
    &lt;!-- /Movie-Page-Title --&gt;
    &lt;div class=&quot;movie-top-copy&quot;&gt;
      &lt;p&gt;Click on the &lt;span class=&quot;editable-color&quot;&gt;RED&lt;/span&gt; copy below to edit the data. Click on the 'OK' button to save the changes. Click outside of the edit field or the 'Cancel' button to ignore the changes.&lt;/p&gt;
      &lt;p ng-if=&quot;movie.id == null || movie.id=='0'&quot;&gt;Click on the &lt;span class=&quot;add-label-text&quot;&gt;'{{ addLabel }}'&lt;/span&gt; Button, to add the movie to the list.&lt;br&gt;
        Click on the &lt;span class=&quot;reset-label-text&quot;&gt;'{{ resetLabel }}'&lt;/span&gt; Button, to reset all the movie data back to the default state.&lt;/p&gt;
        &lt;p ng-show=&quot;isDraggable&quot;&gt;Drag a image file from your computer onto the poster image to update it.&lt;/p&gt;
        &lt;p&gt;Click on the &lt;span class=&quot;edit-label-text&quot;&gt;'{{ editLabel }}'&lt;/span&gt; button to edit all the movie's attributes.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id=&quot;FORM-ERROR&quot; class=&quot;error-container&quot; ng-show=&quot;AddEditMovieForm.$submitted && AddEditMovieForm.$invalid&quot;&gt;
      &lt;div class=&quot;clearfix&quot; ng-show=&quot;AddEditMovieForm.$submitted&quot;&gt;
        &lt;h4&gt;Enter the following:&lt;/h4&gt;
        &lt;ul&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.title.$error.required&quot;&gt;Title&lt;/li&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.runtime.$error.required&quot;&gt;Run Time&lt;/li&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.genre.$error.required&quot;&gt;Genre&lt;/li&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.released.$error.required&quot;&gt;Release Date&lt;/li&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.plot.$error.required&quot;&gt;Plot&lt;/li&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.director.$error.required&quot;&gt;Director&lt;/li&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.writers.$error.required&quot;&gt;Writer&lt;/li&gt;
          &lt;li class=&quot;col-xs-6&quot; ng-show=&quot;AddEditMovieForm.actors.$error.required&quot;&gt;Actor&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;input  name=&quot;title&quot; id=&quot;title&quot; ng-model=&quot;movie.title&quot; value=&quot;&quot; required type=&quot;text&quot; class=&quot;hidden&quot;&gt;
      &lt;input name=&quot;director&quot; id=&quot;director&quot; ng-model=&quot;movie.director&quot; value=&quot;&quot; required type=&quot;text&quot; class=&quot;hidden&quot;&gt;
      &lt;input name=&quot;writers&quot; id=&quot;writers&quot; ng-model=&quot;movie.writers&quot; value=&quot;&quot; required type=&quot;text&quot; class=&quot;hidden&quot;&gt;
      &lt;input name=&quot;actors&quot; id=&quot;actors&quot; ng-model=&quot;movie.actors&quot; value=&quot;&quot; required type=&quot;text&quot; class=&quot;hidden&quot;&gt;
      &lt;input name=&quot;genre&quot; id=&quot;genre&quot; ng-model=&quot;movie.genre&quot; value=&quot;&quot; required type=&quot;text&quot; class=&quot;hidden&quot;&gt;
      &lt;input name=&quot;runtime&quot; id=&quot;runtime&quot; ng-model=&quot;movie.runtime&quot; value=&quot;&quot;  required=&quot;&quot;type=&quot;text&quot; class=&quot;hidden&quot;&gt;
      &lt;input name=&quot;released&quot; id=&quot;released&quot; ng-model=&quot;movie.released&quot; value=&quot;&quot; required type=&quot;text&quot; class=&quot;hidden&quot;&gt;
      &lt;input name=&quot;plot&quot; id=&quot;plot&quot; ng-model=&quot;movie.plot&quot; value=&quot;&quot; required type=&quot;text&quot; class=&quot;hidden&quot;&gt;
    &lt;/div&gt;
    &lt;div id=&quot;Movie-Preview-Container&quot; class=&quot;editable-preview-container&quot;&gt;
      &lt;div id=&quot;#MovieItem-{{previewMovieItem.id}}&quot; class=&quot;movie-list-item-container clear-fix row&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
          &lt;div class=&quot;image-col col-sm-3&quot;&gt;
          	&lt;div id=&quot;Movie-Poster&quot; Movie-Poster ng-class=&quot;{noBorder: isDraggable==false}&quot;&gt;&lt;img ng-src=&quot;{{previewMovieItem.poster}}&quot; class=&quot;img-responsive&quot;/&gt;&lt;/div&gt;&lt;!-- /Movie-Poster --&gt;
          &lt;/div&gt;
          &lt;div class=&quot;data-col col-sm-9&quot;&gt;
            &lt;div class=&quot;movie-title row editable-text&quot; model-key=&quot;title&quot;&gt;{{previewMovieItem.title}}&lt;/div&gt;
            &lt;div class=&quot;row &quot;&gt;
              &lt;div class=&quot;col-sm-6 info-column&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Rated:&lt;/span&gt; &lt;span id=&quot;Editable-Select-Rated&quot; class=&quot;rated&quot; model-key=&quot;rated&quot;&gt;{{previewMovieItem.rated}}&lt;/span&gt;&lt;/div&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Run Time:&lt;/span&gt; &lt;span class=&quot;run-time&quot;&gt;&lt;span class=&quot;editable-text&quot; model-key=&quot;runtime&quot;&gt;{{previewMovieItem.runtime}}&lt;/span&gt; minutes&lt;/span&gt;&lt;/div&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{previewMovieItem.GenreLabel}}:&lt;/span&gt; &lt;span class=&quot;genre editable-text&quot; model-key=&quot;genre&quot;&gt;{{previewMovieItem.genre}}&lt;/span&gt;&lt;/div&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Release Date: &lt;/span&gt; &lt;span class=&quot;release-date editable-date masked&quot; model-key=&quot;released&quot;&gt;{{previewMovieItem.DisplayReleaseDate}}&lt;/span&gt;&lt;/div&gt;
              &lt;/div&gt;
              &lt;!-- /info-column --&gt;
              &lt;div class=&quot;ratings-column col-sm-6&quot;&gt;
                &lt;div class=&quot;ratings-container&quot;&gt;
                
                  &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Your Rating:&lt;/span&gt; &lt;span id=&quot;RateIt-User-Preview&quot; class=&quot;rateit bigstars&quot; data-rateit-starwidth=&quot;32&quot; data-rateit-starheight=&quot;16&quot; rating=&quot;0&quot; imdb-rate&gt;&lt;/span&gt; &lt;/div&gt;
                  &lt;div class=&quot;row&quot;&gt; &lt;span class=&quot;movie-label&quot;&gt;Rating:&lt;/span&gt; &lt;span id=&quot;IMDb-RateIt&quot; class=&quot;rateit bigstars&quot; data-rateit-starwidth=&quot;32&quot; data-rateit-starheight=&quot;16&quot; data-rating=&quot;{{previewMovieItem.imdbRating}}&quot; imdb-rate&gt;&lt;/span&gt; &lt;/div&gt;
                  &lt;div class=&quot;imdb-votes row&quot;&gt; &lt;span class=&quot;votes-count&quot;&gt;( Rating: {{previewMovieItem.rating}} from {{previewMovieItem.imdbVotes}} users)&lt;/span&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;!-- /ratings-container --&gt; 
              &lt;/div&gt;
              &lt;!-- /ratings-column --&gt; 
            &lt;/div&gt;
            &lt;!-- /row --&gt;
            &lt;div class=&quot;plot editable-textarea&quot; model-key=&quot;plot&quot;&gt;{{previewMovieItem.plot}}&lt;/div&gt;
            &lt;!-- /plot --&gt;
            &lt;div class=&quot;additional-info-rows&quot;&gt;
              &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{previewMovieItem.DirectorLabel}}:&lt;/span&gt; &lt;span class=&quot;directors editable-text&quot; model-key=&quot;director&quot;&gt;{{previewMovieItem.director}}&lt;/span&gt;&lt;/div&gt;
              &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{previewMovieItem.WriterLabel}}:&lt;/span&gt; &lt;span class=&quot;writers editable-text&quot; model-key=&quot;writers&quot;&gt;{{previewMovieItem.writers}}&lt;/span&gt;&lt;/div&gt;
              &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{previewMovieItem.ActorsLabel}}:&lt;/span&gt; &lt;span class=&quot;actors editable-text&quot; model-key=&quot;actors&quot;&gt;{{previewMovieItem.actors}}&lt;/span&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- /data-col --&gt; 
          
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- /movie-list-item-container --&gt;
      
      &lt;div class=&quot;button-container&quot;&gt; &lt;span ng-if=&quot;movie.id == null || movie.id=='0' &quot;&gt; &lt;span class=&quot;btn btn-warning&quot; ng-click=&quot;resetMovie()&quot;&gt;{{ resetLabel }}&lt;/span&gt; &lt;!-- /btn --&gt; 
        &lt;/span&gt; &lt;span&gt; &lt;a class=&quot;btn btn-info&quot; ng-click=&quot;showMovieForm()&quot;&gt;{{ editLabel }}&lt;/a&gt; &lt;/span&gt; &lt;span ng-if=&quot;movie.id == null || movie.id=='0' &quot;&gt;
        &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;addMovie()&quot;&gt;{{ addLabel }}&lt;/button&gt;
        &lt;/span&gt; 
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- /Movie-Preview-Container --&gt; 
    &lt;span class=&quot;InlineEditTemplateReady&quot; style=&quot;display:none;&quot;&gt;&lt;/span&gt;
  &lt;/form&gt;
&lt;/div&gt;

&lt;!-- /TemplateWrapper --&gt;
&lt;dialog-container&gt;&lt;/dialog-container&gt;
