&lt;div id=&quot;TemplateSpinner&quot; ng-show=&quot;movies == null&quot;&gt; &lt;img src=&quot;/www/content/images/apps/movies/ajax-loader.gif&quot; /&gt; &lt;/div&gt;
&lt;div id=&quot;TemplateWrapper&quot; ng-show=&quot;movies!=null&quot;&gt;
  &lt;div id=&quot;Movie-Page-Title&quot;&gt;
    &lt;h2&gt;{{ pageTitle }}&lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class=&quot;movies-search-container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;form id=&quot;MovieTitlesSearchForm&quot;&gt;
          &lt;div class=&quot;movie-search-field&quot;&gt; &lt;span class=&quot;glyphicon glyphicon-search&quot;&gt;&lt;/span&gt;
            &lt;input id=&quot;MovieTitleSearchFilterField&quot; type=&quot;text&quot; ng-model=&quot;titleFilter&quot; placeholder=&quot;Search Movie Titles & Plots&quot; /&gt;
          &lt;/div&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;ul id=&quot;movies-list&quot;&gt;
    &lt;li ng-repeat=&quot;movie in movies | filter: moviesSearchFilter | orderBy: 'title' &quot;&gt;
      &lt;div id=&quot;#MovieItem-{{movie.imdbID}}&quot; class=&quot;movie-list-item-container clear-fix row&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
          &lt;div class=&quot;image-col col-sm-3&quot;&gt; &lt;img name=&quot;PosterImage-{{movie.imdbID}}&quot; ng-src=&quot;{{movie.poster}}&quot; class=&quot;img-responsive&quot;/&gt;
            &lt;div class=&quot;edit-delete-links&quot; ng-if=&quot;movie.allowDeleteEdit&quot;&gt;&lt;a href=&quot;#/edit/preview/{{movie.id}}&quot; class=&quot;btn btn-primary&quot;&gt;Edit&lt;/a&gt; &lt;a href=&quot;&quot; ng-click=&quot;deleteMovie(movie)&quot; class=&quot;btn btn-danger&quot;&gt;Delete&lt;/a&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;data-col col-sm-9&quot;&gt;
            &lt;div class=&quot;movie-title row&quot;&gt; {{movie.title}} &lt;/div&gt;
            &lt;div class=&quot;row &quot;&gt;
              &lt;div class=&quot;col-sm-6 info-column&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Rated:&lt;/span&gt; &lt;span class=&quot;rated&quot;&gt;{{movie.rated}}&lt;/span&gt;&lt;/div&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Run Time:&lt;/span&gt; &lt;span class=&quot;run-time&quot;&gt;{{movie.runtime}} minutes&lt;/span&gt;&lt;/div&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{movie.GenreLabel}}:&lt;/span&gt; &lt;span class=&quot;genre&quot;&gt;{{movie.genre}}&lt;/span&gt;&lt;/div&gt;
                &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Release Date: &lt;/span&gt; &lt;span class=&quot;release-date&quot;&gt;{{movie.DisplayReleaseDate}}&lt;/span&gt;&lt;/div&gt;
              &lt;/div&gt;
              &lt;!-- /info-column --&gt;
              &lt;div class=&quot;ratings-column col-sm-6&quot;&gt;
                &lt;div class=&quot;ratings-container&quot;&gt;
                  &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;Your Rating:&lt;/span&gt; &lt;span id=&quot;RateIt-{{movie.id}}&quot; class=&quot;rateit bigstars&quot; data-rateit-starwidth=&quot;32&quot; data-rateit-starheight=&quot;16&quot; rating=&quot;0&quot; imdb-user-rate&gt;&lt;/span&gt; &lt;/div&gt;
                  &lt;div class=&quot;row&quot;&gt; &lt;span class=&quot;movie-label&quot;&gt;Rating:&lt;/span&gt; &lt;span id=&quot;IMDb-RateIt-{{movie.id}}&quot; class=&quot;rateit bigstars&quot; data-rateit-starwidth=&quot;32&quot; data-rateit-starheight=&quot;16&quot; data-rating=&quot;{{movie.rating}}&quot; imdb-rate&gt;&lt;/span&gt; &lt;/div&gt;
                  &lt;div class=&quot;imdb-votes row&quot;&gt; &lt;span class=&quot;votes-count&quot;&gt;( Rating: {{movie.rating}} from {{movie.imdbVotes}} users)&lt;/span&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;!-- /ratings-container --&gt; 
              &lt;/div&gt;
              &lt;!-- /ratings-column --&gt; 
            &lt;/div&gt;
            &lt;!-- /row --&gt;
            &lt;div class=&quot;plot row&quot;&gt; {{movie.plot}} &lt;/div&gt;
            &lt;!-- /plot --&gt;
            &lt;div class=&quot;additional-info-rows&quot;&gt;
              &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{movie.DirectorLabel}}:&lt;/span&gt; &lt;span class=&quot;directors&quot;&gt;{{movie.director}}&lt;/span&gt;&lt;/div&gt;
              &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{movie.WriterLabel}}:&lt;/span&gt; &lt;span class=&quot;writers&quot;&gt;{{movie.writers}}&lt;/span&gt;&lt;/div&gt;
              &lt;div class=&quot;row&quot;&gt;&lt;span class=&quot;movie-label&quot;&gt;{{movie.ActorsLabel}}:&lt;/span&gt; &lt;span class=&quot;actors&quot;&gt;{{movie.actors}}&lt;/span&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- /data-col --&gt; 
          
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;!-- /movies-list --&gt; 
&lt;/div&gt;
&lt;!-- /TemplateWrapper --&gt; 
&lt;dialog-container&gt;&lt;/dialog-container&gt;