@charset "utf-8";
/* CSS Document */
.top-copy{ width: 90%;  }
.top-copy .list-container{ width: 420px; margin: 20px 0 20px 50px; padding: 0;}
ul.tech-list{ display: block; margin: 0 20px 0 0; padding: 0; }
ul.tech-list li{ width: 100%;}
/*
ul.list-1{ float: left; width: 120px; }
ul.list-2{ float: left; width: 90px;} 
ul.list-3{ float: left; width: 150px;}  
*/
.resource-box h4{ text-align: center; color: #FFFFCC; width: 100%;}
.resource-box .module-content-container
{ width: 100%; margin: 0 auto 0 auto;}
.resource-box .list-container{ width: 95%; margin: 15px auto 15px auto; padding: 0;}
.resource-box .list-container ul{ list-style: disc;}
.resource-box .list-container ul li{ padding-left: 0; margin-left: 0em;}
.resource-box .list-container ul li:first-child{ margin: 0;}
.resource-box a{ color: #FFC; text-decoration: none; }
.resource-box a:hover{ text-decoration: underline; }
.caption{ text-align: center;}



#DETAILS-CONTENT{}
#DETAILS-CONTENT .accordion {
    margin-bottom: 20px;
}
#DETAILS-CONTENT .accordion-group {
    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 2px;
}
#DETAILS-CONTENT .accordion-heading {
    border-bottom: 0 none;
	background-color: #ccc;
}
#DETAILS-CONTENT .accordion-heading a{ color: #062a53; text-decoration: none; font-weight: bold;}
#DETAILS-CONTENT .accordion-heading a:hover{ text-decoration: none; background: #999;}
#DETAILS-CONTENT .accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
#DETAILS-CONTENT .accordion-toggle {
    cursor: pointer;
}
#DETAILS-CONTENT .accordion-inner {
    border-top: 1px solid #e5e5e5;
    padding: 9px 15px;
}
#DETAILS-CONTENT .line-code{ font-weight: bold;}
.code {
    border: 2px dashed #dedede;
    color: #333333;
    font-family: Courier,monospace,Courier New;
    font-size: 13px;
    line-height: 16px;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}